html,body {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
    color: #666;
}
h3 {
    color: #1ac6ff;
    margin-top: 30px;
}
a {
    color: #1ac6ff;
    text-decoration: none;
}
#banner {
    padding: 10px 0;
    background: linear-gradient(#80dfff, #1ac6ff);
    text-align: center;
}
#banner h1 {
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #00ace6;
}
nav {
    margin-top: 5px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
}
nav a {
    color: #fff;
    font-weight: bold;
    padding: 10px 7px 15px 7px;
    margin: 0;
    text-decoration: none;
}
nav a:hover {
    background: #ccf2ff;
    color: #1ac6ff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
nav a.active {
    border-bottom: solid 2px #fff;
    background: #fff;
    color: #1ac6ff;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
#loginContainer {
    width: 50%;
    margin: auto;
}
#loginContainer h1{
    text-align: center;
    color: #1ac6ff;
}
#loginContainer form {
    width: 280px;
    margin: auto;
    border: solid 1px #1ac6ff;
    padding: 20px 100px;
    margin-bottom: 20px;
}
#loginContainer form label {
    width: 125px;
    display: inline-block;
}
#loginContainer form input {
    width: 150px;
    display: inline-block;
    margin-bottom: 10px;
}
#loginContainer form input[type=submit] {
    margin-left: 25%;
    margin-top: 15px;
}
#loginContainer #forgotten {
    text-align: center;
}
#loginContainer #forgotten a {
    text-decoration: none;
    color: #1ac6ff;
    font-weight: bold;
}
#loginContainer #forgotten form{
    text-align: left;
    margin-top: 10px;
    display: none;
}
#container {
    width: 100%;
    padding: 0.5%;
    margin-top: 10px;
}
aside {
    width: 22%;
    display: inline-block;
    vertical-align: top;
    background: #ecf9ff;
    border-radius: 7px;
}
main {
    width: 53%;
    display: inline-block;
    vertical-align: top;
    margin: 0 0.5%;
}
#container h3 {
    width: 100%;
    color: #1ac6ff;
    background: #ccf2ff;
    text-align: center;
    padding: 5px 0px;
    margin: auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}
.family {
    list-style: none;
    padding: 0;
}
.family li {
    width: 50%;
    padding: 10px 0;
    margin: auto;
    background: #fff;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 15px;
    border-radius: 4px;
    /*border: solid 3px #fff;*/
    border: solid 3px #ccf2ff;
}
.family li:hover {
    border: solid 3px #00e600;
    cursor: pointer;
}
.family li.selectedPerson {
    background: #b3ffb3;
    border: solid 3px #00e600;
}
main ul {
    list-style: none;
    padding: 0;
    margin-top: 3px;
}
main li {
    margin-bottom: 5px;
    padding: 5px 0;
}
main li h4 {
    padding: 10px;
    margin: 0;
    border: solid 2px #ccf2ff;
    color: #1ac6ff;
}
main li h4 a {
    text-decoration: none;
    color: #666
}
main li p {
    background: #ecf9ff;
    padding: 10px;
    margin: 0;
    border: solid 2px #ccf2ff;
    border-top: none;
}
main li h4 a:hover {
    text-decoration: underline;
}
main li .actions {
    padding-left: 10px;
    margin-top: 10px;
    text-align: left;
}
main li span.resa, main li .cancel_resa {
    background: #a668f2;
    padding: 2px 5px;
    border: solid 1px #4d1c89;
    color: #fff;
    border-radius: 4px;
}
main li span.resa:hover, main li .cancel_resa:hover {
    background: #fff;
    border: solid 1px #a668f2;
    color: #a668f2;
    cursor: pointer;
}
main li span.edit {
    background: #e88310;
    padding: 2px 5px;
    border: solid 1px #914e01;
    color: #fff;
    border-radius: 4px;
}
main li span.edit:hover {
    background: #fff;
    border: solid 1px #e88310;
    color: #e88310;
    cursor: pointer;
}
main li span.del {
    background: #db3523;
    padding: 2px 5px;
    border: solid 1px #af1403;
    color: #fff;
    border-radius: 4px;
}
main li span.del:hover {
    background: #fff;
    border: solid 1px #db3523;
    color: #db3523;
    cursor: pointer;
}
.reserved strong{
    color: #00e600;
    margin-right: 15px;
}
main .lastAction {
    text-align: center;
    margin-top: 20px;
}
main .lastAction .addGift {
    background: #1ac6ff;
    border: solid 1px #0394c4;
    padding: 2px 5px;
    color: #fff;
    border-radius: 4px;
}
main .lastAction .addGift:hover {
    cursor: pointer;
    background: #fff;
    border: solid 1px #1ac6ff;
    color: #1ac6ff;
}
#blockSuggestion p {
    text-align: center;
}
#blockSuggestion div {
    margin-bottom: 20px;
}
#blockSuggestion .lastAction {
    text-align: center;
    background: #fff;
}
#blockSuggestion .addSuggest {
    background: #1ac6ff;
    border: solid 1px #0394c4;
    padding: 2px 5px;
    color: #fff;
}
#blockSuggestion .addSuggest:hover {
    cursor: pointer;
    background: #fff;
    border: solid 1px #1ac6ff;
    color: #1ac6ff;
}
main .hidden {
    display: none;
}
#news_container, #admin_container, #account_container {
    width: 50%;
    margin: auto;
    text-align: center;
}
#news_container table {
    border: 1px solid black;
    border-collapse: collapse;
}
#news_container table td {
    padding: 5px;
    border: 1px solid black;
}
#news_container table td:first-child {
    background-color: #eee;
    width: 25%;
    text-align: center;
}
#news_container table td.version_number {
    text-align: center;
    font-weight: bold;
    background-color: #1ac6ff;
    color: #fff;
}
#news_container table td.no_content{
    text-align: center;
}
#account_container form {
    width: 360px;
    margin: auto;
    border: solid 1px #1ac6ff;
    padding: 20px 100px;
    margin-bottom: 20px;
    border-radius: 7px;
}
#account_container form label {
    width: 200px;
    display: inline-block;
}
#account_container form input {
    width: 150px;
    display: inline-block;
    margin-bottom: 10px;
}
#account_container form input[type=submit] {
    text-align: center;
    margin-top: 15px;
}
#container_message {
    text-align: center;
}
.history_menu {
    text-align: center;
}
.history_menu select {
    margin: 20px 0;
    font-size: larger;
    padding: 5px;
}
.giftList h4 {
    border: solid 2px #aaa;
}
.giftList p {
    background: #eee;
    border: solid 2px #aaa;
    border-top: none;
}
#blockSuggestion, #currentUser {
    display: none;
}
.modal-layer {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 40%;
    border-radius: 7px;
}
.close {
    color: #f00;
    float: right;
    margin-top: -15px;
    font-size: 28px;
    font-weight: bold;
}
.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.del_suggest {
    color: #f00;
    font-weight: bold;
    position: absolute;
    right: 5px;
}
.del_suggest:hover, .del_suggest:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.contentSuggestions ul {
    padding: 0;
}
.contentSuggestions ul li {
    position: relative;
    list-style: none;
    padding: 2px 5px 2px 10px;
    border-bottom: solid 2px #fff;
}
.contentSuggestions ul li:first-child {
    border-top: solid 2px #fff;
}
.modal-content legend {
    text-align: center;
    font-weight: bold;
    font-size: larger;
    padding: 4px;
    margin: 10px 0 15px 0;
    background: #ccf2ff;
    border-radius: 7px;
}
.modal-content label {
    width: 30%;
    text-align: right;
    margin-right: 10%;
    display: inline-block;
    vertical-align: top;
}
.modal-content .suggestion_detail label {
    display: block;
    text-align: center;
    width: auto;
    margin: auto;
}
.modal-content input {
    width: 400px;
    display: inline-block;
    margin-bottom: 8px;
}
.modal-content input[type=submit] {
    width: 100px;
    margin-top: 15px;
    margin-left: 42%;
    display: inline-block;
    text-align: center;
}
.modal-content textarea {
    min-width: 400px;
    margin: auto;
}
.modal-content .suggestion_detail textarea {
    margin: auto;
    display: block;
}
.confirm {
    text-align: center;
}
/* The switch - the box around the slider */
#account_container form label.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  margin-left: 20px;
}

/* Hide default HTML checkbox */
#account_container form .switch input {
    display:none;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 22px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
